Update-TRHyperlinksWF/definition.json
{"name":"fcec6b0a-a76e-497e-9c2d-2beb53b1db8b","id":"/providers/Microsoft.Flow/flows/fcec6b0a-a76e-497e-9c2d-2beb53b1db8b","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Update Hyperlink WF","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"cbf85172-2319-4f6c-9ace-79b0142206a9","type":"User","tenantId":"4d989c86-01e6-4b4e-a110-5b0a49be79d8"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-06-21T12:43:43.9169682Z","connectionKeySavedTimeKey":"2025-06-21T12:43:43.9169682Z","creationSource":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"6213b60f-11dd-4dce-baf9-b906141b082e"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"5b65ba30-4f7b-4e93-8e66-abb4b08013f4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://rmodev.sharepoint.com/sites/ManishPOC","table":"61c3025d-e10e-4712-b1d8-9b4649cf3984"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_files_(properties_only)":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"b1716af8-72b2-4370-b5b8-3fc859f366c2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItems"},"parameters":{"dataset":"https://rmodev.sharepoint.com/sites/ManishPOC","table":"78e08cf5-d528-4f95-9451-2289685ff4be","folderPath":"/RnD/07-Technial-Reports","viewScopeOption":"Default","$filter":"FSObjType eq 0"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Compose":{"runAfter":{},"metadata":{"operationMetadataId":"b9f40042-08c9-4534-9cdb-9f3339ab661b"},"type":"Compose","inputs":"@items('Apply_to_each')?['{Name}']"},"Filter_array":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"9401a979-5d80-4df3-9517-2e01e1382f36"},"type":"Query","inputs":{"from":"@outputs('Get_files_(properties_only)')?['body/value']","where":"@contains(item()?['{Name}'], outputs('Compose'))"}},"Condition":{"actions":{"Compose_2":{"runAfter":{},"metadata":{"operationMetadataId":"d7f301d7-679c-4385-8049-842a98618285"},"type":"Compose","inputs":"@body('Filter_array')?[0]?['{Link}']"},"Update_item":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"d5411737-e8a7-495b-9548-fc028132e4d5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://rmodev.sharepoint.com/sites/ManishPOC","table":"61c3025d-e10e-4712-b1d8-9b4649cf3984","id":"@items('Apply_to_each')?['ID']","item/Hyperlink":"@outputs('Compose_2')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Filter_array":["Succeeded"]},"expression":{"and":[{"greater":["@length(body('Filter_array'))","@int('0')"]},{"equals":["@items('Apply_to_each')?['Hyperlink']","@null"]}]},"metadata":{"operationMetadataId":"f5e55c78-3718-4506-9ee3-27cad5dc42de"},"type":"If"}},"runAfter":{"Get_files_(properties_only)":["Succeeded"]},"metadata":{"operationMetadataId":"5af99fe4-1836-45cc-ad43-36a933964af8"},"type":"Foreach"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-6aa25387-ae11-4017-87d0-aa36b552640e","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}